@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 18px;
}

body {
  overflow-x: hidden;
  min-height: 95vh;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-family: 'GangwonEdu_OTFBoldA';
}

.container {
  width: 831px;
  margin: 0 auto;
  padding: 20px 80px 5vh;
}

@media (max-width: 991px) {
  .container {
    width: 727px;
  }
}

@media (max-width: 767px), (max-height: 412px) {
  .container {
    width: 88vw;
    padding: 5rem 6vw 3rem;
  }
}
